<!DOCTYPE HTML>
<script type="text/javascript" src="https://3Dmol.org/build/3Dmol-min.js" defer></script>
<div style='height: calc(100vm - 20px); height: calc(100vmin - 20px); width: calc(100% - 100px); position: relative; margin: 3vm 10vm; margin: 3vmin 10vmin; border: 10px solid red' class='viewer_3Dmoljs' data-pdb='{{.Get 0}}' data-backgroundcolor='0x23252f' data-style='cartoon:color~spectrum,style~parabola,arrows~true' data-viewstyle='outline'></div>
<div align='center'>{{.Get 0}}<br><a href='https://www.rcsb.org/3d-view/{{.Get 0}}' target='_blank' title='{{.Get 0}} Protein structure'>View in RCSB Protein Database</a></div>
