<script type="text/javascript" src="https://3Dmol.org/build/3Dmol-min.js" defer></script>
<div style='height: 100vm; height:100vmin; width: auto; position: relative;' class='viewer_3Dmoljs' data-pdb='{{.Get 0}}' data-backgroundcolor='#23252f' data-style='cartoon:color~spectrum,style~parabola,arrows~1' data-select='bonds:0' data-style='sphere:radius~0.5,color~0x83d7ee' data-viewstyle='outline'></div>

<div style='height: 100vm; height:100vmin; width: auto; position: relative;' class='viewer_3Dmoljs' data-pdb='{{.Get 0}}' data-backgroundcolor='#23252f' data-style='cartoon:color~spectrum,style~parabola,arrows~1' data-select='bonds:0&style=sphere:radius~0.5,color~0x83d7ee' data-viewstyle='outline'></div>
<div align='center'>{{.Get 0}}<br><a href='https://www.rcsb.org/3d-view/{{.Get 0}}' target='_blank' title='{{.Get 0}} Protein structure'>View in RCSB Protein Database</a></div>
